<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite">
    <test name="Smoke">
        <classes>
            <class name="rahulsheetyacademy.Test.SubmitOrderTest">
                <methods>
                    <include name="submitorder"></include>
                </methods>
            </class>
            <class name="rahulsheetyacademy.Test.ErrorValidationTest">
                <methods>
                    <include name="loginErrorValidation"></include>
                    <include name="productIncorrecterror"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>